.module8-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .module8-thq-module8-elm {
    width: 100%;
    height: 16804px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.10000000149011612);
  }
   
  .module8-thq-bg-elm {
    top: -131px;
    left: -5661px;
    width: 10034px;
    height: 16935px;
    position: absolute;
  }
   
  .module8-thq-footer-elm {
    top: 16392px;
    left: -0.0003662109375px;
    width: 1440.1253662109375px;
    height: 411.9993591308594px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-footerline-elm {
    top: 0px;
    left: 1440.1253662109375px;
    width: 1440px;
    height: 1px;
    position: absolute;
  }
   
  .module8-thq-o-sphere-logo-elm {
    top: 1.884765625px;
    left: 314.1287841796875px;
    width: 812px;
    height: 410px;
    position: absolute;
  }
   
  .module8-thq-content-container-elm {
    top: 339px;
    left: 67px;
    width: 1390px;
    height: 15944px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-deadlockalgorithms-elm {
    top: 14361px;
    left: 33px;
    width: 1239px;
    height: 1583px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container7-elm {
    top: 965px;
    left: 264px;
    width: 605px;
    height: 618px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module8-thq-text-elm100 {
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm101 {
    top: 994px;
    left: 294px;
    color: rgba(255, 255, 255, 1);
    width: 546px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm117 {
    top: 72px;
    left: 3px;
    color: rgba(255, 255, 255, 1);
    width: 1180px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-web-application-integration-elm {
    top: 13824px;
    left: 20px;
    width: 1239px;
    height: 459px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm132 {
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm133 {
    top: 88px;
    color: rgba(255, 255, 255, 1);
    width: 1180px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-sandbox-engine-implementationcode-elm {
    top: 9288px;
    left: 20px;
    width: 1237px;
    height: 4439px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container6-elm {
    top: 164px;
    left: 0px;
    width: 1236px;
    height: 4275px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module8-thq-text-elm138 {
    left: 57px;
    color: rgba(255, 255, 255, 1);
    width: 1070px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm139 {
    top: 204px;
    left: 21px;
    color: rgba(255, 255, 255, 1);
    width: 1194px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm249 {
    top: 59px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    width: 1180px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-architectural-adaptations-elm {
    top: 8286px;
    left: 45px;
    width: 1191px;
    height: 957px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container5-elm {
    top: 56px;
    left: 0px;
    width: 1191px;
    height: 901px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module8-thq-text-elm250 {
    left: 24px;
    color: rgba(255, 255, 255, 1);
    width: 1070px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-fig5-elm {
    top: 80px;
    left: 79px;
    width: 1033px;
    height: 856px;
    position: absolute;
  }
   
  .module8-thq-text-elm251 {
    top: 120px;
    left: 138px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm252 {
    top: 275px;
    left: 138px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm253 {
    top: 427px;
    left: 138px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm254 {
    top: 580px;
    left: 138px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm255 {
    top: 562px;
    left: 465px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm256 {
    top: 214px;
    left: 465px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm257 {
    top: 371px;
    left: 465px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm258 {
    top: 782px;
    left: 465px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm259 {
    top: 205px;
    left: 770px;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm260 {
    top: 371px;
    left: 770px;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm261 {
    top: 539px;
    left: 770px;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm262 {
    top: 750px;
    left: 770px;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm263 {
    top: 808px;
    left: 138px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm264 {
    top: 137px;
    left: 468px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: center;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-application-architecture-matrix-elm {
    top: 7597px;
    left: 45px;
    width: 1212px;
    height: 581px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm265 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm266 {
    top: 59px;
    color: rgba(255, 255, 255, 1);
    width: 1212px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-fig4-elm {
    top: 183px;
    left: 237px;
    width: 711px;
    height: 398px;
    position: absolute;
  }
   
  .module8-thq-programmatic-logic-algorithmic-computations-elm {
    top: 4898px;
    left: 26px;
    width: 1364px;
    height: 2591px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container3-elm {
    top: 198px;
    left: 263px;
    width: 652px;
    height: 97px;
    position: absolute;
  }
   
  .module8-thq-container4-elm {
    top: 661px;
    left: 117px;
    width: 990px;
    height: 1930px;
    position: absolute;
  }
   
  .module8-thq-text-elm268 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm269 {
    top: 70px;
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm270 {
    text-decoration: UNDERLINE;
  }
   
  .module8-thq-text-elm272 {
    top: 529px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm273 {
    text-decoration: UNDERLINE;
  }
   
  .module8-thq-text-elm275 {
    top: 334px;
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm276 {
    top: 678px;
    left: 152px;
    color: rgba(255, 255, 255, 1);
    width: 1212px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-fig3-elm {
    top: 191px;
    left: 304px;
    width: 569px;
    height: 111px;
    position: absolute;
  }
   
  .module8-thq-deadlock-management-strategy-elm {
    top: 2965px;
    left: 20px;
    width: 1240px;
    height: 1907px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm326 {
    color: rgb(255, 255, 255);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Light;
    text-align: left;
    font-family: "Alexandria";
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm327 {
    top: 60.653907775878906px;
    left: 8px;
    color: rgb(255, 255, 255);
    width: 1232px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Alexandria;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-text310 {
    font-weight: 700;
  }
   
  .module8-text311 {
    font-weight: 700;
  }
   
  .module8-text312 {
    font-weight: 200;
  }
   
  .module8-text313 {
    font-weight: 700;
  }
   
  .module8-text314 {
    font-weight: 200;
  }
   
  .module8-text315 {
    font-weight: 700;
  }
   
  .module8-text316 {
    font-weight: 200;
  }
   
  .module8-text317 {
    font-weight: 700;
  }
   
  .module8-text318 {
    font-weight: 200;
  }
   
  .module8-text319 {
    font-weight: 700;
  }
   
  .module8-text320 {
    font-weight: 200;
  }
   
  .module8-text321 {
    font-weight: 700;
  }
   
  .module8-text322 {
    font-weight: 700;
  }
   
  .module8-text323 {
    font-weight: 700;
  }
   
  .module8-text324 {
    font-weight: 700;
  }
   
  .module8-text325 {
    font-weight: 700;
  }
   
  .module8-text326 {
    font-weight: 700;
  }
   
  .module8-text327 {
    font-weight: 200;
  }
   
  .module8-text328 {
    font-weight: 200;
  }
   
  .module8-text329 {
    font-weight: 200;
  }
   
  .module8-text330 {
    font-weight: 200;
  }
   
  .module8-text331 {
    font-weight: 200;
  }
   
  .module8-text332 {
    font-weight: 200;
  }
   
  .module8-text333 {
    font-weight: 200;
  }
   
  .module8-text334 {
    font-weight: 200;
  }
   
  .module8-text335 {
    font-weight: 200;
  }
   
  .module8-text336 {
    font-weight: 200;
  }
   
  .module8-text337 {
    font-weight: 200;
  }
   
  .module8-text338 {
    font-weight: 200;
  }
   
  .module8-text339 {
    font-weight: 200;
  }
   
  .module8-text340 {
    font-weight: 200;
  }
   
  .module8-text341 {
    font-weight: 200;
  }
   
  .module8-text342 {
    font-weight: 200;
  }
   
  .module8-text343 {
    font-weight: 200;
  }
   
  .module8-text344 {
    font-weight: 200;
  }
   
  .module8-text345 {
    font-weight: 200;
  }
   
  .module8-text346 {
    font-weight: 200;
  }
   
  .module8-text347 {
    font-weight: 200;
  }
   
  .module8-text348 {
    font-weight: 200;
  }
   
  .module8-text349 {
    font-weight: 200;
  }
   
  .module8-text350 {
    font-weight: 200;
  }
   
  .module8-text351 {
    font-weight: 200;
  }
   
  .module8-text352 {
    font-weight: 200;
  }
   
  .module8-text353 {
    font-weight: 200;
  }
   
  .module8-text354 {
    font-weight: 200;
  }
   
  .module8-text355 {
    font-weight: 200;
  }
   
  .module8-text356 {
    font-weight: 200;
  }
   
  .module8-text357 {
    font-weight: 200;
  }
   
  .module8-text358 {
    font-weight: 200;
  }
   
  .module8-text359 {
    font-weight: 200;
  }
   
  .module8-text360 {
    font-weight: 200;
  }
   
  .module8-text361 {
    font-weight: 200;
  }
   
  .module8-text362 {
    font-weight: 200;
  }
   
  .module8-text363 {
    font-weight: 200;
  }
   
  .module8-text364 {
    font-weight: 200;
  }
   
  .module8-text365 {
    font-weight: 200;
  }
   
  .module8-text366 {
    font-weight: 700;
  }
   
  .module8-thq-stepby-step-breakdownofthe-resource-lifecycle-elm {
    top: 2353px;
    left: 20px;
    width: 1247px;
    height: 426px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm328 {
    top: 407px;
    left: 230px;
    color: rgba(255, 255, 255, 1);
    width: 157px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: ExtraLight;
    text-align: justify;
    font-family: Alexandria;
    font-weight: 200;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm329 {
    color: rgba(255, 255, 255, 1);
    width: 867px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm330 {
    top: 48px;
    color: rgba(255, 255, 255, 1);
    width: 1247px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: justify;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm331 {
    top: 152px;
    left: 591px;
    color: rgba(255, 255, 255, 1);
    width: 651px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: justifie;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-fig2-elm {
    top: 176px;
    left: 20px;
    width: 560px;
    height: 210px;
    position: absolute;
  }
   
  .module8-thq-visual-assets-structure-elm {
    top: 1390px;
    left: 0px;
    width: 1355px;
    height: 903px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container2-elm {
    top: 127px;
    left: 0px;
    width: 1278px;
    height: 776px;
    position: absolute;
  }
   
  .module8-thq-text-elm335 {
    top: 479px;
    left: 37px;
    color: rgba(255, 255, 255, 1);
    width: 1232px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm341 {
    top: 435px;
    left: 569px;
    color: rgba(255, 255, 255, 1);
    width: 139px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: ExtraLight;
    text-align: justify;
    font-family: Alexandria;
    font-weight: 200;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-fig1-elm {
    top: 160px;
    left: 233px;
    width: 839px;
    height: 264px;
    position: absolute;
  }
   
  .module8-thq-text-elm342 {
    top: 43px;
    left: 64px;
    color: rgba(255, 255, 255, 1);
    width: 1291px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm344 {
    left: 65px;
    color: rgba(255, 255, 255, 1);
    width: 564px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-terminologies-elm {
    top: 690px;
    left: 0px;
    width: 1285px;
    height: 597.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-container1-elm {
    top: 0px;
    left: 0px;
    width: 1277px;
    height: 598px;
    position: absolute;
  }
   
  .module8-thq-text-elm345 {
    top: 86px;
    left: 46px;
    color: rgba(255, 255, 255, 1);
    width: 1185px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm351 {
    top: 27px;
    left: 46px;
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-whatis-deadlock-elm {
    top: 472px;
    left: 18px;
    width: 1239px;
    height: 247px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm352 {
    top: 52px;
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm353 {
    color: rgba(255, 255, 255, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-overview-elm {
    top: 0px;
    left: 20px;
    width: 1239px;
    height: 449px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-text-elm354 {
    color: rgba(255, 255, 255, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm355 {
    top: 52px;
    color: rgba(255, 255, 255, 1);
    width: 1239px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: justify;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-header-elm {
    top: 116px;
    left: 46px;
    width: 1329px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: transparent;
  }
   
  .module8-thq-m8bg-elm {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  .module8-thq-text-elm357 {
    top: 13px;
    left: 32px;
    color: rgba(35, 38, 48, 1);
    width: 348px;
    height: auto;
    position: absolute;
    font-size: 64px;
    font-style: SemiBold;
    text-align: center;
    font-family: Alexandria;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-text-elm358 {
    top: 95px;
    left: 62px;
    color: rgba(37, 37, 37, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Alexandria;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module8-thq-navigation-bar-elm {
    top: 0px;
    left: -0.0023193359375px;
    width: 1440.1253662109375px;
    height: 54px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module8-thq-line1-elm {
    top: 50px;
    left: 1440.125px;
    width: 1440px;
    height: 1px;
    position: absolute;
  }
   
  .module8-thq-side-menu-elm {
    top: 3px;
    left: 26.025634765625px;
    width: 56px;
    height: 47px;
    position: absolute;
  }
   
  .module8-thq-home-elm {
    top: 0px;
    left: 78.025634765625px;
    width: 60px;
    height: 54px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
  }
   
  .module8-thq-help-elm {
    top: 4px;
    left: 1371px;
    width: 35px;
    height: 40px;
    position: absolute;
  }  