.module1-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .module1-thq-module1-elm {
    width: 100%;
    height: 13477px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.10000000149011612);
  }
   
  .module1-thq-bg-elm {
    top: -2727px;
    left: -3810px;
    width: 9742px;
    height: 16441px;
    position: absolute;
  }
   
  .module1-thq-navigation-bar-elm {
    top: 0px;
    left: -0.0015869140625px;
    width: 1440.1253662109375px;
    height: 54px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-line1-elm {
    top: 50px;
    left: 1440.125px;
    width: 1440px;
    height: 1px;
    position: absolute;
  }
   
  .module1-thq-side-menu-elm {
    top: 3px;
    left: 26.0245361328125px;
    width: 56px;
    height: 47px;
    position: absolute;
  }
   
  .module1-thq-home-elm {
    top: 0px;
    left: 78.0245361328125px;
    width: 60px;
    height: 54px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
  }
   
  .module1-thq-help-elm {
    top: 4px;
    left: 1371px;
    width: 35px;
    height: 40px;
    position: absolute;
  }
   
  .module1-thq-footer-elm {
    top: 13058px;
    left: -0.0023193359375px;
    width: 1440.1253662109375px;
    height: 410px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-o-sphere-logo-elm {
    top: 0px;
    left: 314.0040283203125px;
    width: 812px;
    height: 410px;
    position: absolute;
  }
   
  .module1-thq-footer-line-elm {
    top: 10px;
    left: 1440.1253662109375px;
    width: 1440px;
    height: 1px;
    position: absolute;
  }
   
  .module1-thq-content-container-elm {
    top: 320px;
    left: 65px;
    width: 1299px;
    height: 12606px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-example3-elm {
    top: 12341px;
    left: 58px;
    width: 953px;
    height: 263px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm1 {
    top: 0px;
    left: 0px;
    width: 953px;
    height: 263px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-text-elm100 {
    top: 54px;
    left: 52px;
    color: rgba(255, 255, 255, 1);
    width: 891px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-embedded-computing-elm {
    top: 12080px;
    left: 37px;
    width: 1187px;
    height: 216px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm106 {
    top: 70px;
    left: 48px;
    color: rgb(255, 255, 255);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-text104 {
    font-weight: 200;
  }
   
  .module1-text106 {
    font-weight: 200;
  }
   
  .module1-text108 {
    font-weight: 200;
  }
   
  .module1-text110 {
    font-weight: 200;
  }
   
  .module1-text114 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm107 {
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-example2-elm {
    top: 11799px;
    left: 59px;
    width: 866px;
    height: 224px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm2 {
    top: 0px;
    left: 0px;
    width: 866px;
    height: 224px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-text-elm108 {
    top: 57px;
    left: 51px;
    color: rgba(255, 255, 255, 1);
    width: 800px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-web-based-computing-elm {
    top: 11541px;
    left: 37px;
    width: 1187px;
    height: 220px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm113 {
    top: 70px;
    left: 48px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm114 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm115 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm116 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm117 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm118 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm119 {
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-example-elm {
    top: 11299px;
    left: 57px;
    width: 750px;
    height: 186px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm3 {
    top: 0px;
    left: 0px;
    width: 750px;
    height: 186px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-text-elm120 {
    top: 52px;
    left: 89px;
    color: rgba(255, 255, 255, 1);
    width: 634px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-computing-environments-elm {
    top: 10893px;
    left: 37px;
    width: 1187px;
    height: 358px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-bullets-elm1 {
    top: 73px;
    left: 0px;
    width: 1187px;
    height: 285px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-traditional-computing-elm {
    top: 105px;
    left: 0px;
    width: 1187px;
    height: 180px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm124 {
    top: 35px;
    left: 48px;
    color: rgb(255, 255, 255);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-text126 {
    font-weight: 200;
  }
   
  .module1-text128 {
    font-weight: 200;
  }
   
  .module1-text130 {
    font-weight: 200;
  }
   
  .module1-text132 {
    font-weight: 200;
  }
   
  .module1-text136 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm125 {
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm126 {
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm127 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-example-devices-elm {
    top: 9788px;
    left: 12px;
    width: 1277px;
    height: 1039px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm4 {
    top: 0px;
    left: 0px;
    width: 1277px;
    height: 1039px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-fig14-elm {
    top: 431px;
    left: 299px;
    width: 688px;
    height: 541px;
    position: absolute;
  }
   
  .module1-thq-text-elm128 {
    top: 88px;
    left: 61px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm136 {
    top: 34px;
    left: 25px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-group16-elm {
    top: 8821px;
    left: 16px;
    width: 1253px;
    height: 890px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-handheld-systems-elm {
    top: 607px;
    left: 0px;
    width: 1196px;
    height: 283px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-bullets-elm2 {
    top: 73px;
    left: 0px;
    width: 1196px;
    height: 210px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm137 {
    top: 105px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm141 {
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm145 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-real-time-systems-elm {
    top: 0px;
    left: 0px;
    width: 1253px;
    height: 538px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-bullets-elm3 {
    top: 83px;
    left: 0px;
    width: 1253px;
    height: 455px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-hardrealtime-elm {
    top: 175px;
    left: 57px;
    width: 1196px;
    height: 140px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm146 {
    top: 35px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm149 {
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-softrealtime-elm {
    top: 350px;
    left: 57px;
    width: 1196px;
    height: 105px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm150 {
    top: 35px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    width: 1139px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm153 {
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm154 {
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm158 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-fig13-elm1 {
    top: 8280px;
    left: 13px;
    width: 1277px;
    height: 481px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm5 {
    top: 0px;
    left: 0px;
    width: 1277px;
    height: 481px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-fig13-elm2 {
    top: 44px;
    left: 423px;
    width: 438px;
    height: 389px;
    position: absolute;
  }
   
  .module1-thq-clustered-systems-elm {
    top: 7869px;
    left: 16px;
    width: 1199px;
    height: 382px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig12-elm {
    top: 42px;
    left: 923px;
    width: 276px;
    height: 286px;
    position: absolute;
  }
   
  .module1-thq-bullets-elm4 {
    top: 67px;
    left: 0px;
    width: 833px;
    height: 315px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm159 {
    top: 105px;
    left: 49px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm160 {
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm161 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm162 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm163 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm164 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm165 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm166 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm168 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-fig8-to11-elm {
    top: 7278px;
    left: 14px;
    width: 1279px;
    height: 529px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
   
  .module1-thq-container-elm6 {
    top: 0px;
    left: 0px;
    width: 1277px;
    height: 525px;
    position: absolute;
    border-radius: 20px;
  }
   
  .module1-thq-figures89-elm {
    top: 4px;
    left: 2px;
    width: 1277px;
    height: 525px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig8-elm {
    top: 35px;
    left: 72px;
    width: 388px;
    height: 283px;
    position: absolute;
  }
   
  .module1-thq-fig9-elm {
    top: 30px;
    left: 510px;
    width: 303px;
    height: 283px;
    position: absolute;
  }
   
  .module1-thq-fig10-elm {
    top: 30px;
    left: 871px;
    width: 328px;
    height: 283px;
    position: absolute;
  }
   
  .module1-thq-fig11-elm {
    top: 362px;
    left: 420px;
    width: 438px;
    height: 126px;
    position: absolute;
  }
   
  .module1-thq-group15-elm {
    top: 6493px;
    left: 16px;
    width: 1240px;
    height: 727px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig6-elm {
    top: 31px;
    left: 924px;
    width: 316px;
    height: 331px;
    position: absolute;
  }
   
  .module1-thq-distributed-systems-elm {
    top: 0px;
    left: 0px;
    width: 1082px;
    height: 264px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm169 {
    top: 70px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm172 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-advantagesofdistributedsystems-elm {
    top: 285px;
    left: 0px;
    width: 1082px;
    height: 205px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm173 {
    top: 65px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm178 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-communicationand-network-architecturein-distributed-sy-elm {
    top: 522px;
    left: 0px;
    width: 1082px;
    height: 205px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm179 {
    top: 65px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm184 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-group-container2-elm {
    top: 5532px;
    left: 16px;
    width: 1277px;
    height: 907px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-figures-elm {
    top: 72px;
    left: 681px;
    width: 547px;
    height: 583px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig5-elm {
    top: 429px;
    left: 0px;
    width: 547px;
    height: 154px;
    position: absolute;
  }
   
  .module1-thq-fig4-elm {
    top: 0px;
    left: 126px;
    width: 341px;
    height: 248px;
    position: absolute;
  }
   
  .module1-thq-asymmetric-multiprocessing-elm {
    top: 670px;
    left: 62px;
    width: 1156px;
    height: 174px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm185 {
    top: 69px;
    color: rgba(255, 255, 255, 1);
    width: 1156px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm188 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-symmetric-multiprocessing-smp-elm {
    top: 320px;
    left: 62px;
    width: 1082px;
    height: 245px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm189 {
    top: 70px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm194 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-parallel-systems-elm1 {
    top: 42px;
    left: 62px;
    width: 1082px;
    height: 224px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm195 {
    top: 84px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm200 {
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-parallel-systems-elm2 {
    top: 5159px;
    left: 14px;
    width: 1175px;
    height: 330px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig3-elm {
    top: 63px;
    left: 943px;
    width: 232px;
    height: 267px;
    position: absolute;
  }
   
  .module1-thq-text-elm201 {
    top: 66px;
    color: rgba(255, 255, 255, 1);
    width: 784px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm204 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-desktop-systems-elm {
    top: 4821px;
    left: 14px;
    width: 1209px;
    height: 286px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm205 {
    top: 76px;
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm211 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-time-sharing-systems-interactive-computing-elm {
    top: 4448px;
    left: 14px;
    width: 1209px;
    height: 321px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm213 {
    top: 76px;
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm219 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 1082px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-group-container1-elm {
    top: 3865px;
    left: 16px;
    width: 1277px;
    height: 531px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-os-features-neededfor-multiprogramming-elm {
    top: 289px;
    left: 40px;
    width: 1209px;
    height: 195px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm220 {
    top: 55px;
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm225 {
    color: rgba(255, 255, 255, 1);
    width: 1052px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-advantagesof-multiprogramming-advantagesof-multiprogr-elm {
    top: 35px;
    left: 34px;
    width: 1209px;
    height: 202px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm226 {
    top: 62px;
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm230 {
    left: 6px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-multiprogrammed-batch-systems-elm {
    top: 3646px;
    left: 16px;
    width: 1243px;
    height: 181px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-bullets-elm5 {
    top: 76px;
    left: 34px;
    width: 1209px;
    height: 105px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm231 {
    top: 35px;
    left: 54px;
    color: rgba(255, 255, 255, 1);
    width: 778px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm234 {
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm235 {
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-early-batch-system-elm {
    top: 3062px;
    left: 16px;
    width: 1277px;
    height: 531px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-text-elm236 {
    top: 111px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    width: 1209px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm237 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm238 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm239 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm240 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm241 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm242 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm243 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm244 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm245 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm247 {
    top: 31px;
    left: 52px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-batch-systems-elm {
    top: 2591px;
    left: 16px;
    width: 1198px;
    height: 425px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-fig2-elm {
    top: 32px;
    left: 984px;
    width: 214px;
    height: 376px;
    position: absolute;
  }
   
  .module1-thq-bullets-elm6 {
    top: 70px;
    left: 0px;
    width: 821px;
    height: 355px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm248 {
    top: 250px;
    left: 122px;
    color: rgba(255, 255, 255, 1);
    width: 670px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm252 {
    color: rgba(255, 255, 255, 1);
    width: 821px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm258 {
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-runninga-jobin-early-mainframes-elm {
    top: 1984px;
    left: 16px;
    width: 1277px;
    height: 564px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-fig1-elm {
    top: 97px;
    left: 639px;
    width: 573px;
    height: 410px;
    position: absolute;
    border-radius: 5px;
  }
   
  .module1-thq-text-elm259 {
    top: 203px;
    left: 55px;
    color: rgba(255, 255, 255, 1);
    width: 455px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm266 {
    top: 107px;
    left: 55px;
    color: rgba(255, 255, 255, 1);
    width: 455px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm267 {
    top: 36px;
    left: 44px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-growthof-mainframe-systems-elm {
    top: 1733px;
    left: 15px;
    width: 1224px;
    height: 203px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm268 {
    top: 63px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm273 {
    left: 3px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-operating-system-views-perspectives-elm {
    top: 1404px;
    left: 15px;
    width: 1280px;
    height: 313px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-bullets-elm7 {
    top: 68px;
    left: 0px;
    width: 1280px;
    height: 245px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm275 {
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm276 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm277 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm278 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm279 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm280 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm282 {
    top: 33px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm283 {
    top: 65px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm284 {
    left: 1px;
    color: rgba(255, 255, 255, 1);
    width: 587px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: center;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-operating-system-goals-elm {
    top: 996px;
    left: 18px;
    width: 1277px;
    height: 362px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-list-elm {
    top: 54px;
    left: 33px;
    width: 1224px;
    height: 288px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm286 {
    left: 68px;
    color: rgba(255, 255, 255, 1);
    width: 1131px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm288 {
    top: 138px;
    left: 68px;
    color: rgba(255, 255, 255, 1);
    width: 1147px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm289 {
    top: 35px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm292 {
    top: 19px;
    left: 41px;
    color: rgba(255, 255, 255, 1);
    width: 387px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: center;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-computer-system-components-elm {
    top: 581px;
    left: 18px;
    width: 1277px;
    height: 361px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.03999999910593033);
  }
   
  .module1-thq-text-elm294 {
    top: 107px;
    left: 33px;
    color: rgba(255, 255, 255, 1);
    width: 1224px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: left;
    font-family: Alexandria;
    font-weight: 300;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm295 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm296 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm297 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm298 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm299 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm300 {
    font-weight: 200;
  }
   
  .module1-thq-text-elm301 {
    font-weight: 300;
  }
   
  .module1-thq-text-elm303 {
    top: 33px;
    left: 44px;
    color: rgba(255, 255, 255, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: center;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-whatisan-operating-system-elm {
    top: 375px;
    left: 0px;
    width: 1299px;
    height: 199px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm305 {
    top: 59px;
    left: 7px;
    color: rgba(255, 255, 255, 1);
    width: 1292px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: left;
    font-family: Alexandria;
    font-weight: 200;
    line-height: 35px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm308 {
    color: rgba(255, 255, 255, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: center;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-overview-elm {
    top: 0px;
    left: 7px;
    width: 1288px;
    height: 308px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm309 {
    top: 58px;
    left: 11px;
    width: 1277px;
    height: 250px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
   
  .module1-thq-text-elm310 {
    color: rgba(255, 255, 255, 1);
    width: 1277px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraLight;
    text-align: justified;
    font-family: Alexandria;
    font-weight: 200;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm312 {
    color: rgba(255, 255, 255, 1);
    width: 174px;
    height: auto;
    position: absolute;
    font-size: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Light;
    text-align: center;
    font-family: Alexandria;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-header-elm {
    top: 116px;
    left: 46px;
    width: 1347px;
    height: 149px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .module1-thq-m1bg-elm {
    top: -218px;
    left: 0px;
    width: 1347px;
    height: 758px;
    position: absolute;
  }
   
  .module1-thq-text-elm313 {
    top: 13px;
    left: 37px;
    color: rgba(59, 74, 119, 1);
    width: 348px;
    height: auto;
    position: absolute;
    font-size: 64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: SemiBold;
    text-align: center;
    font-family: Alexandria;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .module1-thq-text-elm314 {
    top: 89px;
    left: 62px;
    color: rgba(72, 85, 122, 1);
    width: 502px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Alexandria;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
    
  .module1-thq-bg-elm {
    z-index: -100 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
}

.module1-thq-module1-elm {
    position: relative;
    z-index: 1;
}